#body{
	padding: 6px;
}
#grids{
	max-width: 100%;
}
#grids table {
	width: auto;
}
#grids table td{
	padding: 0;
}
#grids table td div{
	position: relative;
	width: 40px;
	height: 30px;
}
#grids table td > div > small{
	position: absolute;
    left: 1px;
    top: 1px;
    font-size: 10px;
}
#grids table td[data-ship] {
	border: solid 1px #666;
}
#grids table td[data-ship="Aircraft"] {
	background-color: saddlebrown;
}
#grids table td[data-ship="Battleship"] {
	background-color: slateblue;
}
#grids table td[data-ship="Submarine"] {
	background-color: steelblue;
}
#grids table td[data-ship="Cruiser"] {
	background-color: tomato;
}
#grids table td[data-ship="Aircraft"] {
	background-color: violet;
}
#grids table td[data-ship="Destroyer"] {
	background-color: yellowgreen;
}